
.Button {
    background: white;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    margin: 8px 24px;
}