
.LeftNav {
    background: #d6d8d8;
    width: 275px;
    text-align: left;
    font-size: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);;
}

    .LeftNav.Button {
        margin:  40px 16px;
        width: 10rem;
    }

    .LeftNav-colorLink {
        margin: 8px 16px;
    }

